apiVersion: apps/v1
kind: Deployment
metadata:
  name: rsearch
  namespace: rsearch
spec:
  template:
    spec:
      containers:
        - name: rsearch
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 512Mi
